.PluginDownloaderApply {
    color: var(--text-muted);
    border-right: 1px var(--background-accent) solid;
  
    div {
      margin: 0 8px;
      white-space: nowrap;
      font-size: 14px;
      padding: 3px 5px;
      transition: background-color .1s;
    }
  
    &:not(.applied) {
      color: var(--text-normal);
  
      div {
        cursor: pointer;
  
        &:hover {
          background-color: var(--interactive-muted);
        }
      }
    }
  }


.PPD-StoreCard {
    width: 92.5%;
    background-color: var(--background-secondary);
    padding: 10px;
    border-radius: 5px;
    margin-left: 3%;
    margin-top: 30px;
    margin-bottom: 20px;
    .PPD-CardTitle{
        text-transform: capitalize;
        color: var(--text-normal);
        align-items: center;
        padding-top: 6px;
        display: flex;
        .redirect {
            transition: color 50ms ease;
            color: var(--text-normal);
            justify-content: center;
            display: flex;
            &:hover {
                color: var(--text-muted);
                cursor: pointer;
                
            }
        }
        button {
            margin-left: auto;
        }
        span{
            margin-right: 10px;
            font-size: 20px;
        }
    }
    .PPD-Details{
        border-top: solid 1.5px var(--background-modifier-accent);
        border-bottom: solid 1.5px var(--background-modifier-accent);
        padding: 20px 0;
        .PPD-Metadata{
            margin-top: 20px;
            display: flex;
            div:not(:first-child){
                margin: 0 30px;
            }
        }
    }
}



.PPD-StoreCardFooter {
    margin-top: 10px;
    display: flex;
}

.PPD-StoreButtons {
    margin-left: auto;
}

.PPD-Details {
    color: var(--text-normal);
    margin-top: 15px;
    .PPD-CardDescription, .PPD-Metadata > div {
        display: flex;
        align-items: center;

        > div {
            display: inline;
            margin-right: 10px;
        }
    }

    .PPD-Metadata {
        .PPD-Version span + div {
            margin-left: 5px;
            color: #faa61a;
        }
    }


}

.pluginpreview {
    max-width: 900px;
    width: min-content;
    color: var(--text-normal);
    .content-1LAB8Z {
        overflow-x: auto !important;
    }
}